  <div class="footer text-center sticky-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github text-dark"></i></a>
    <a href="#"><i class="fab fa-instagram text-dark"></i></a>
    <a href="#"><i class="fab fa-facebook text-dark"></i></a>
    <a href="#"><i class="fab fa-twitter text-dark"></i></a>
    <a href="#"><i class="fab fa-linkedin text-dark"></i></a>
  </div>
  <div class="footer-copyright text-center">
    Cocktail's adventure
  </div>
